* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    width: 1920px;
    margin: 0 auto;

    header {
        padding-top: 30px;
        margin: 0 auto;
        width: 1760px;
        height: 100px;

        
    }

    .container {
        margin: 0 auto;
        
        
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.nav__navigation {
    .nav__navigation-ul {
        display: flex;
        align-items: center;
        font-family: 'Futura New';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: #C3B9B5;

        .nav__navigation-li {
            margin-left: 80px;
            cursor: pointer;
            transition: .6s;

        }
                .nav__navigation-li:hover{
                    transition: .6s;
                        color: #87807d;
                }

        .nav__navigation-li:first-child {
            margin-left: 0;
        }
    }
}
.nav__navigation-p {
    font-size: 28px;
    cursor: pointer;
    transition: .6s;
}
.nav__navigation-p:hover {
    transition: .6s;
        color: #87807d;
}
.nav__navigation-person {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.nav__navigation-btn {
    padding: 10px 25px;
    transition: .6s;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #FFC59E;
    color: white;
    font-size: 20px;
}
.nav__navigation-btn:hover{
    transition: .6s;
    background-color: #d7976c;
}

.nav__location {
    display: flex;
    align-items: center;
    font-family: 'Futura New';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #FFC59E;

        .nav__location-p {
            margin-left: 19px;
            cursor: pointer;
        }
        .nav__location-p:hover {
            transition: .6s;
            color: #d7976c;
        }
        
}




