.main {
    padding-top: 130px;
}


.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

    
}

.info__slides-ul {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #C3B9B5;
}

.info__text {
    display: flex;
    flex-direction: column;
    width: 645px;
    
    
}

.info__text-title {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
    color: #080606;
    width: 645px;

}

.info__text-btn {
    padding: 25px 77px;
    background: #FFC59E;
    margin-top: 50px;
    margin-bottom: 200px;
    box-shadow: 0px 4px 20px #FFC59E;
    border-radius: 33.5px;
    width: 285px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.info__text-btn:hover {
    opacity: 0.9;
    transition: 0.5s;
}

.info__text-socials {
    display: flex;
    column-gap: 50px;
    cursor: pointer;
    
}
.info__text-img:hover {
    opacity: 0.7;
transform: 0.5;
}

